* {
    margin: 0;
}

.div {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main   main   main   main"
        "footer footer footer footer";
    min-height: 100vh;
}

.div__header {
    grid-area: header;
    border: 1px solid lightcoral;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightsalmon;
    margin-top: 0.2rem;    
}

.div__title{
    display: flex;
    align-items: center;
    gap: 10px;    
}

.div__logo {
    margin-top: 1%;
    margin-left: 1%;
    width: 150px;    
}

.div__logo__texto {
    font-size: 3rem;
    color: darksalmon;    
}

.nav__list {
    margin-left: 2%;
    margin-top: 1%    
}

.nav__item {
    margin-bottom: 0.5%;
    color: darkcyan;    
}

.main {
    grid-area: main;
}

.section {
    border: 1px solid lightcoral;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightsalmon;
}

.section__title {
    margin-top: 1.5%;
    margin-left: 2%;
    color: darksalmon;    
}

.section__painel {
    margin-left: 2%;
    width: 50vw;    
    padding: 0;    
}

.paragrafo {
    margin-top: 0.5%;
    margin-left: 2%;
    font-size: large;    
}

.paragrafo--depoimento {
    margin-left: 4%;    
}

.footer {
    grid-area: footer;
    border: 1px solid lightcoral;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightsalmon;
    margin-bottom: 0.3rem;    
}

.footer__title {
    margin-top: 1.5%;
    margin-left: 2%;
    color: darksalmon;        
}

.footer__texto {
    color: brown;
    font-weight: bold;
    margin-bottom: 1.5%;    
}

.servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-top: 1%;
}

.servicos__dg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 10%;
    color: darkcyan;    
}

.servicos__dw {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 0;
    color: darkcyan;    
}

.servicos__bg {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-left: 0;
    color: darkcyan;    
}

.servicos__pm {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin-left: 0;
    color: darkcyan;    
}

.servicos__da {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    margin-left: 0;
    color: darkcyan;    
}

.article__title {
    margin-left: 3%;
    margin-top: 1%;
    color: darkblue;    
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.25rem;
    }

    main, header, footer {
        width: 95%;
    }

    img {
        width: 100px;
    }

    #painel {
        width: 30vw;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }    

    main, header, footer {
        width: 80%;
    }

    img {
        width: 120px;
    }

    #painel {
        width: 40vw;
    }
}

@media (min-width: 901px) {
    h1 {
        font-size: 3rem;
    }

    main, header, footer {
        width: 70%;
    }

    img {
        width: 150px;
    }

    #painel {
        width: 50vw;
    }
}

.campos {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    width: 25rem;    
}

.campo__grande {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    width: 25rem;    
}

.botao {
    margin-top: 2%;
    margin-left: 2%;    
}
